* {
  font-size: 40px;
}

h1 {
  color: #ffffff;
}

body {
  background-color: #000000;
}
article {
  display: flex;
  flex-direction: column;
}
.center {
  text-align: center;
}
.calculator {
  width: 287px;
  border: 6px solid rgb(33, 182, 58);
  background-color: #ffffff;
  padding: 6px;
  display: inline-block;
}
.calculator form {
  display: grid;
  grid-template-columns: repeat(4, 65px);
  grid-auto-rows: 65px;
  grid-gap: 5px;
}
.calculator form input {
  border: 2px solid #333;
  cursor: pointer;
}
.calculator form input:hover {
  box-shadow: 1px 1px 2px #333;
}
.calculator form .clear {
  background-color: #ed8848;
}
.calculator form .operator {
  background-color: #f65;
}
.calculator form .dot {
  background-color: lightgreen;
}
.calculator form input[type="text"] {
  grid-column: span 4;
  text-align: right;
  padding: 0 10px;
}
.calculator form .clear {
  grid-column: span 3;
}
.calculator form .result {
  grid-column: span 2;
}
