body {
  background-color: #cee741;
  font-family: "Noto Sans KR", sans-serif;
}
article {
  display: flex;
  flex-direction: column;
}
.mom {
  text-align: center;
}
.calculator {
  width: 287px;
  border: 1px solid #333;
  background-color: #ccc;
  padding: 5px;
  display: inline-block;
}
.calculator form {
  display: grid;
  grid-template-columns: repeat(4, 65px);
  grid-auto-rows: 65px;
  grid-gap: 5px;
}
.calculator form input {
  border: 2px solid #333;
  cursor: pointer;
}
.calculator form input:hover {
  box-shadow: 1px 1px 2px #333;
}
.calculator form .clear {
  background-color: #ed4848;
}
.calculator form .operator {
  background-color: orange;
}
.calculator form .dot {
  background-color: green;
}
.calculator form input[type="text"] {
  grid-column: span 4;
  text-align: right;
  padding: 0 10px;
}
.calculator form .clear {
  grid-column: span 3;
}
.calculator form .result {
  grid-column: span 2;
}
.question {
  display: none;
}
.main-title {
  font-size: 14px;
  color: #7c7c7c;
}
.sub-title {
  font-size: 24px;
  font-weight: 100;
  color: #000;
}
.kakao_ad {
  width: 320px;
  margin: 0 auto;
}
